.login{
  height: 100vh;
  background-color: rgb(193,190,255);
  display: flex;
  align-items: center; /* The CSS align-items property sets the align-self value on all direct children as a group.  */
  justify-content: center; /* ?? */
  .card{
    width: 50%;
    /* The display property specifies the display behavior (the type of rendering box) of an element */
    display: flex; /* Flexible box*/
    background-color: white;
    /*The border-radius CSS property rounds the corners of an element's outer border edge.*/
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left{
      flex:1; /* compare width 50% */
      flex-direction: column;
      gap: 30px;

      /*How center works,linear-gradient works*/
      background: linear-gradient(rgba(39,11,96,0.5),rgba(39,11,96,0.5)),url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
      /* The background-size CSS property sets the size of the element's background image.  */
      background-size: cover; /*Cover all... */

      padding: 50px; /*Padding is used to create space around an element's content, inside of any defined borders*/



      color: white;
      h1{
        font-size: 100px;
        line-height: 100px;
      }
      p{}
      span{
        font-size: 14px;
      }
      button{
        width: 50%;
        padding: 10px;
        border:none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor:pointer;
      }
    }

    .right{
      padding: 50px;

      flex:1;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1{
        color: #555;
      }

      form{
        display: flex;
        flex-direction: column;
        gap: 30px;

        input{
          border:none;
          border-bottom: 1px solid lightblue;
        }
        button{
          width: 50%;
          padding: 10px;
          border: none;
          color: white;
          background-color: #938eef;
          font-weight: bold;
          cursor:pointer;
        }
      }
    }
  }
}